# Lists

Data Structure:
    
A data structure is a collection of data elements (such as numbers or characters or even other data structures) that is structured in some way, for example, by numbering the elements. The most basic data structure in Python is the "sequence".

-> List is one of the Sequence Data structure

-> Lists are collection of items (Strings, integers or even other lists)

-> Lists are enclosed in `[ ]`

-> Each item in the list has an assigned index value.

-> Each item in a list is separated by a comma

-> Lists are mutable, which means they can be changed.

# List Creation

In [ ]:
emptyList = []

lst = ['one', 'two', 'three', 'four'] # list of strings

lst2 = [1, 2, 3, 4] #list of integers

lst3 = [[1, 2], [3, 4]] # list of lists

lst4 = [1, 'ramu', 24, 1.24] # list of different datatypes

print(lst4[1])

# List Length

In [ ]:
lst = ['one', 'two', 'three', 'four']

#find length of a list
print(len(lst))

# List Append

In [ ]:
lst = ['one', 'two', 'three', 'four']

lst.append('five') # append will add the item at the end

print(lst)

# List Insert

In [ ]:
#syntax: lst.insert(x, y) 

lst = ['one', 'two', 'four']

lst.insert(2, "three") # will add element y at location x

print(lst)

# List Remove

In [ ]:
#syntax: lst.remove(x) 

lst = ['one', 'two', 'three', 'four', 'two']

lst.remove('two') #it will remove first occurence of 'two' in a given list

print(lst)

# List Append & Extend

In [ ]:
lst = ['one', 'two', 'three', 'four']

lst2 = ['five', 'six']

#append 
lst.append(lst2)

print(len(lst))
print(lst)

In [ ]:
lst = ['one', 'two', 'three', 'four']

lst2 = ['five', 'six']

#extend will join the list with list1

lst.extend(lst2)

print(len(lst))
print(lst)
#insert - adds the element at a specified location
#append - adds an element at the end of the list by default
#extend - combines two lists

# List Delete

In [ ]:
#del to remove item based on index position

lst = ['one', 'two', 'three', 'four', 'five']

del lst[1]
print(lst)

#or we can use pop() method
a = lst.pop(1)
print(a)

print(lst)
#remove 'element'
#pop - 'el idx'
#del lst[1]

In [ ]:
lst = ['one', 'two', 'three', 'four']

#remove an item from list
lst.remove('three')

print(lst)

# List related keywords in Python

In [ ]:
#keyword 'in' is used to test if an item is in a list
basket = ['orange','banana','apple','mango']
if 'pineapple' not in basket:
    print("No, there is no pineapple in the basket!")

# List Reverse

In [ ]:
#reverse is reverses the entire list

lst = ['one', 'two', 'three', 'four']

lst.reverse()

print(lst)

# List Sorting

The easiest way to sort a List is with the sorted(list) function. 

That takes a list and returns a new list with those elements in sorted order. 

The original list is not changed. 

The sorted() optional argument reverse=True, e.g. sorted(list, reverse=True), 
makes it sort backwards.

In [ ]:
#create a list with numbers
numbers = [3, 1, 6, 2, 8]

sorted_lst = sorted(numbers)


print("Sorted list :", sorted_lst)

#original list remain unchanged
print("Original list: ", numbers)

In [ ]:
#print a list in reverse sorted order
print("Reverse sorted list :", sorted(numbers, reverse=True))

#orginal list remain unchanged
print("Original list :",  numbers)

In [ ]:
lst = [1, 20, 5, 5, 4.2]

#sort the list and stored in itself
lst.sort(reverse=True)

# add element 'a' to the list to show an error

print("Sorted list: ", lst)
#sorted() doesn't change the original list whereas lst.sort() does

In [ ]:
lst = [1, 20, 'b', 5, 'a']
print(lst.sort()) # sort list with element of different datatypes.

# List Having Multiple References

In [ ]:
lst = [1, 2, 3, 4, 5]
abc = lst
abc.append(6)

#print original list
print("Original list: ", lst)
new_lst = lst.copy()
new_lst.append(3)
print(new_lst, lst)

# String Split to create a list

In [ ]:
#let's take a string

s = "one,two,three,four,five"
slst = s.split(',')
print(slst)

In [ ]:
s = "This is applied STW Course"
split_lst = s.split() # default split is white-character: space or tab
print(split_lst)

# List Indexing

Each item in the list has an assigned index value starting from 0.

Accessing elements in a list is called indexing.

In [ ]:
lst = [1, 2, 3, 4]
print(lst[1]) #print second element

#print last element using negative index
print(lst[-2])

# List Slicing

Accessing parts of segments is called slicing. 

The key point to remember is that the :end value represents the first value that 
is not in the selected slice.

In [ ]:
numbers = [10, 20, 30, 40, 50,60,70,80]

#print all numbers
print(numbers[:]) 
print("Same as",numbers[0:])
#print from index 0 to index 3
print(numbers[0:4:2])
#[start:stop:step] [start,stop)

In [ ]:
print (numbers)
#print alternate elements in a list
print(numbers[::2])


#print elemnts start from 0 through rest of the list
print(numbers[2::2])
print(numbers[::-1])

# List extend using "+"

In [ ]:
lst1 = [1, 2, 3, 4]
lst2 = ['varma', 'naveen', 'murali', 'brahma']
new_lst = lst1 + lst2

print(new_lst)

# List Count

In [ ]:
numbers = [1, 2, 3, 1, 3, 4, 2, 5]

#frequency of 1 in a list
print(numbers.count(1))

#frequency of 3 in a list
print(numbers.count(5))

# List Looping

In [ ]:
#loop through a list

lst = ['one', 'two', 'three', 'four']
for ele in lst:
    print(ele)

# List Comprehensions

List comprehensions provide a concise way to create lists. 

Common applications are to make new lists where each element is the result of some operations applied to each member of another sequence or iterable, or to create a subsequence of those elements that satisfy a certain condition.

In [ ]:
# without list comprehension
squares = []
for i in range(10):
    squares.append(i**2)   #list append
print(squares)

In [ ]:
#using list comprehension
squares = [i**2 for i in range(10)]

print(squares)

In [ ]:
#example

lst = [-10, -20, 10, 20, 50]

#create a new list with values doubled
new_lst = [i*2 for i in lst]
print(new_lst)
#filter the list to exclude negative numbers
new_lst = [i for i in lst if i >= 0]
print(new_lst)


#create a list of tuples like (number, square_of_number)
new_lst = [(i, i**2) for i in range(10)]
print(new_lst)

# Nested List Comprehensions

In [ ]:
#let's suppose we have a matrix

matrix = [
    [1, 2, 3, 4],
    [5, 6, 7, 8],
    [9, 10, 11, 12]
]

#transpose of a matrix without list comprehension
transposed = []
for i in range(4):
    lst = []
    for row in matrix:
        lst.append(row[i])
    transposed.append(lst)

print(transposed)

In [ ]:
#with list comprehension
transposed = [[row[i] for row in matrix] for i in range(4)]
print(transposed)

# Tuples

-> A tuple is similar to list

-> The diffence between the two is that we can't change the elements of tuple once it is assigned whereas in the list, elements can be changed

# Tuple creation

In [ ]:
#empty tuple
t = ()

#tuple having integers
t = (1, 2, 3)
print(t)

#tuple with mixed datatypes
t = (1, 'raju', 28, 'abc')
print(t)

#nested tuple
t = (1, (2, 3, 4), [1, 'raju', 28, 'abc'])
print(t)

In [ ]:
#only parenthesis is not enough
t = ('krishna')
type(t)

In [ ]:
#need a comma at the end
t = ('krishna',)
type(t)

In [ ]:
#parenthesis is optional
t = "krishna", 
print(type(t))

print(t)

# Accessing Elements in Tuple

In [ ]:
t = ('krishna', 'murali', 'balaji', 'srinu', 'brahma')

print(t[1])

In [ ]:
#negative index
print(t[-1]) #print last element in a tuple

In [ ]:
#nested tuple
t = ('ABC', ('krishna', 'balaji', 'srinu'))

print(t[1])

In [ ]:
print(t[1][2])

In [ ]:
#Slicing
t = (1, 2, 3, 4, 5, 6)

print(t[1:4])

#print elements from starting to 2nd last elements
print(t[:-2])

#print elements from starting to end
print(t[:])

# Changing a Tuple

#unlike lists, tuples are immutable
#This means that elements of a tuple cannot be changed once it has been assigned. But, if the element is itself a mutable datatype like list, its nested items can be changed.

In [ ]:
#creating tuple
t = (1, 2, 3, 4, [5, 6, 7])

t[2] = 'x' #will get TypeError

In [ ]:
t[4][1] = 'krishna'
print(t)

In [ ]:
#concatinating tuples

t = (1, 2, 3) + (4, 5, 6)
print(t)

In [ ]:
#repeat the elements in a tuple for a given number of times using the * operator.
t = (('krishna', ) * 4)
print(t)

# Tuple Deletion

In [ ]:
#we cannot change the elements in a tuple. 
# That also means we cannot delete or remove items from a tuple.

#delete entire tuple using del keyword
t = (1, 2, 3, 4, 5, 6)

#delete entire tuple
del t

# Tuple Count

In [ ]:
t = (1, 2, 3, 1, 3, 3, 4, 1)

#get the frequency of particular element appears in a tuple
t.count(1)

# Tuple Index

In [ ]:
t = (1, 2, 3, 1, 3, 3, 4, 1)

print(t.index(3)) #return index of the first element is equal to 3

#print index of the 1

# Tuple Memebership

In [ ]:
#test if an item exists in a tuple or not, using the keyword in.
t = (1, 2, 3, 4, 5, 6)

print(1 in t)

In [ ]:
print(7 in t)

# Built in Functions

# Tuple Length

In [ ]:
t = (1, 2, 3, 4, 5, 6)
print(len(t))

# Tuple Sort

In [ ]:
t = (4, 5, 1, 2, 3)

new_t = sorted(t)
print(new_t) #Take elements in the tuple and return a new sorted list 
             #(does not sort the tuple itself).

In [ ]:
#get the largest element in a tuple
t = (2, 5, 1, 6, 9)

print(max(t))

In [ ]:
#get the smallest element in a tuple
print(min(t))

In [ ]:
#get sum of elments in the tuple
print(sum(t))

# Sets

-> A set is an unordered collection of items. Every element is unique (no duplicates).

-> The set itself is mutable. We can add or remove items from it.

-> Sets can be used to perform mathematical set operations like union, intersection, symmetric difference etc.

# Set Creation

In [ ]:
#set of integers
s = {1, 2, 3}
print(s)

#print type of s 
print(type(s))

In [ ]:
#set doesn't allow duplicates. They store only one instance.
s = {1, 2, 3, 1, 4}
print(s)

In [ ]:
#we can make set from a list
s = set([1, 2, 3, 1])
print(s)

In [ ]:
#initialize a set  with set() method
s = set()

print(type(s))

# Add element to a Set

In [ ]:
#we can add single element using add() method and 
#add multiple elements using update() method
s = {1, 3}

#set object doesn't support indexing
print(s[1]) #will get TypeError

In [ ]:
#add element
s.add(2)
print(s)

In [ ]:
#add multiple elements
s.update([5, 6, 1])
print(s)

In [ ]:
#add list and set
s.update([8, 9], {10, 2, 3})
print(s)

# Remove elements from a Set

In [ ]:
#A particular item can be removed from set using methods, 
#discard() and remove().

s = {1, 2, 3, 5, 4}
print(s)

s.discard(4)    #4 is removed from set s

print(s)

In [ ]:
#remove an element 
s.remove(2)

print(s)

In [ ]:
#remove an element not present in a set s
s.remove(7) # will get KeyError

In [ ]:
#discard an element not present in a set s
s.discard(7)
print(s)

In [ ]:
#we can remove item using pop() method

s = {1, 2, 3, 5, 4}

s.pop() #remove random element

print(s)

In [ ]:
s.pop() 
print(s)

In [ ]:
s = {1, 5, 2, 3, 6}

s.clear()   #remove all items in set using clear() method

print(s)

# Python Set Operations

In [ ]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

#union of 2 sets using | operator

print(set1 | set2)

In [ ]:
#another way of getting union of 2 sets
print(set1.union(set2))

In [ ]:
#intersection of 2 sets using & operator
print(set1 & set2)

In [ ]:
#use intersection function 
print(set1.intersection(set2))

In [ ]:
#set Difference: set of elements that are only in set1 but not in set2

print(set1 - set2)

In [ ]:
#use differnce function 
print(set1.difference(set2))

In [ ]:
"""symmetric difference: set of elements in both set1 and set2 
#except those that are common in both."""

#use ^ operator

print(set1^set2)

In [ ]:
#use symmetric_difference function
print(set1.symmetric_difference(set2))

In [ ]:
#find issubset()
x = {"a","b","c","d","e"}
y = {"c","d"}

print("set 'x' is subset of 'y' ?", x.issubset(y)) #check x is subset of y

#check y is subset of x
print("set 'y' is subset of 'x' ?", y.issubset(x))

# Frozen Sets

Frozen sets has the characteristics of sets, but we can't be changed once it's assigned. While tuple are immutable lists, frozen sets are immutable sets

Frozensets can be created using the function frozenset()

Sets being mutable are unhashable, so they can't be used as dictionary keys. On the other hand, frozensets are hashable and can be used as keys to a dictionary.

This datatype supports methods like copy(), difference(), intersection(), isdisjoint(), issubset(), issuperset(), symmetric_difference() and union(). Being immutable it does not have method that add or remove elements.

In [ ]:
set1 = frozenset([1, 2, 3, 4])
set2 = frozenset([3, 4, 5, 6])

#try to add element into set1 gives an error
set1.add(5)

In [ ]:
print(set1[1]) # frozen set doesn't support indexing

In [ ]:
print(set1 | set2) #union of 2 sets

In [ ]:
#intersection of two sets
print(set1 & set2)

#or 
print(set1.intersection(set2))

In [ ]:
#symmetric difference
print(set1 ^ set2)

#or
print(set1.symmetric_difference(set2))

# Dictionary

Python dictionary is an unordered collection of items. While other compound data types have only value as an element, a dictionary has a key: value pair.

# Dict Creation

In [ ]:
#empty dictionary
my_dict = {}

#dictionary with integer keys
my_dict = {1: 'abc', 2: 'xyz'}
print(my_dict)

#dictionary with mixed keys
my_dict = {'name': 'satish', 1: ['abc', 'xyz']}
print(my_dict)


#create empty dictionary using dict()
my_dict = dict()

my_dict = dict([(1, 'abc'), (2, 'xyz')])    #create a dict with list of tuples
print(my_dict)

# Dict Access

In [ ]:
my_dict = {'name': 'satish', 'age': 27, 'address': 'guntur'}

#get name
print(my_dict['name'])

In [ ]:
#if key is not present it gives KeyError
print(my_dict['degree'])

In [ ]:
#another way of accessing key
print(my_dict.get('address'))

In [ ]:
#if key is not present it will give None using get method
print(my_dict.get('degree'))

# Dict Add or Modify  Elements

In [ ]:
my_dict = {'name': 'satish', 'age': 27, 'address': 'guntur'}

#update name 
my_dict['name'] = 'raju'

print(my_dict)

In [ ]:
#add new key
my_dict['degree'] = 'M.Tech'

print(my_dict)

# Dict Delete or Remove Element

In [ ]:
#create a dictionary
my_dict = {'name': 'satish', 'age': 27, 'address': 'guntur'}

#remove a particular item
print(my_dict.pop('age'))

print(my_dict)

In [ ]:
my_dict = {'name': 'satish', 'age': 27, 'address': 'guntur'}

#remove an arbitarty key
my_dict.popitem()

print(my_dict)

In [ ]:
squares = {2: 4, 3: 9, 4: 16, 5: 25}

#delete particular key
del squares[2]

print(squares)

In [ ]:
#remove all items
squares.clear()

print(squares)

In [ ]:
squares = {2: 4, 3: 9, 4: 16, 5: 25}

#delete dictionary itself
del squares

print(squares) #NameError because dict is deleted

# Dictionary Methods

In [ ]:
squares = {2: 4, 3: 9, 4: 16, 5: 25}

my_dict = squares.copy()
print(my_dict)

In [ ]:
#fromkeys[seq[, v]] -> Return a new dictionary with keys from seq and value equal to v (defaults to None).
subjects = {}.fromkeys(['Math', 'English', 'Hindi'], 0)
print(subjects)

In [ ]:
subjects = {2:4, 3:9, 4:16, 5:25}
print(subjects.items()) #return a new view of the dictionary items (key, value)

In [ ]:
subjects = {2:4, 3:9, 4:16, 5:25}
print(subjects.keys()) #return a new view of the dictionary keys

In [ ]:
subjects = {2:4, 3:9, 4:16, 5:25}
print(subjects.values()) #return a new view of the dictionary values

In [ ]:
#get list of all available methods and attributes of dictionary
d = {}
print(dir(d))

# Dict Comprehension

In [ ]:
#Dict comprehensions are just like list comprehensions but for dictionaries

d = {'a': 1, 'b': 2, 'c': 3}
for pair in d.items():
    print(pair)

In [ ]:
#Creating a new dictionary with only pairs where the value is larger than 2
d = {'a': 1, 'b': 2, 'c': 3, 'd': 4}
new_dict = {k:v for k, v in d.items() if v > 2}
print(new_dict)

In [ ]:
#We can also perform operations on the key value pairs
d = {'a':1,'b':2,'c':3,'d':4,'e':5}
d = {k + 'c':v * 2 for k, v in d.items() if v > 2}
print(d)

# Strings

    A string is a sequence of characters.

    Computers do not deal with characters, they deal with numbers (binary). Even though you may see characters on your screen, internally it is stored and manipulated as a combination of 0's and 1's.

    This conversion of character to a number is called encoding, and the reverse process is decoding. ASCII and Unicode are some of the popular encoding used.

    In Python, string is a sequence of Unicode character.

For more details about unicode 

https://docs.python.org/3.3/howto/unicode.html

# How to create a string?

Strings can be created by enclosing characters inside a single quote or double quotes. 

Even triple quotes can be used in Python but generally used to represent multiline strings and docstrings.

In [ ]:
myString = 'Hello'

print(myString)


myString = "Hello"
print(myString)


myString = '''Hello'''
print(myString)

# How to access characters in a string?

We can access individual characters using indexing and a range of characters using slicing.

Index starts from 0. 

Trying to access a character out of index range will raise an IndexError. 

The index must be an integer. We can't use float or other types, this will result into TypeError.

Python allows negative indexing for its sequences.

In [ ]:
myString = "Hello"

#print first Character
print(myString[0])

#print last character using negative indexing
print(myString[-1])

#slicing 2nd to 5th character
print(myString[2:5])

If we try to access index out of the range or use decimal number, we will get errors.

In [ ]:
print(myString[15])

In [ ]:
print(myString[1.5])

# How to change or delete a string ?

Strings are immutable. This means that elements of a string cannot be changed once it has been assigned. 

We can simply reassign different strings to the same name.

In [ ]:
myString = "Hello"
myString[4] = 's' # strings are immutable

We cannot delete or remove characters from a string. But deleting the string entirely is possible using the keyword       del.

In [ ]:
del myString # delete complete string

In [ ]:
print(myString)

# String Operations

# Concatenation

Joining of two or more strings into a single one is called concatenation.

The + operator does this in Python. Simply writing two string literals together also concatenates them.

The * operator can be used to repeat the string for a given number of times.

In [ ]:
s1 = "Hello "
s2 = "Satish"

#concatenation of 2 strings
print(s1 + s2)

#repeat string n times
print(s1 * 3)

# Iterating Through String

In [ ]:
count = 0
for l in "Hello World":
    if l == 'o':
        count += 1
print(count, ' letters found')

# String Membership Test

In [ ]:
print('l' in 'Hello World') #in operator to test membership

In [ ]:
print('or' in 'Hello World')

# String Methods

    Some of the commonly used methods are lower(), upper(), join(), split(), find(), replace() etc

In [ ]:
"Hello".lower()

In [ ]:
"Hello".upper()

In [ ]:
"This will split all words in a list".split()

In [ ]:
' '.join(['This', 'will', 'split', 'all', 'words', 'in', 'a', 'list'])

In [ ]:
"Good Morning".find("Mo")

In [ ]:
s1 = "Bad morning"

s2 = s1.replace("Bad", "Good")

print(s1)
print(s2)

# Python Program to Check where a String is Palindrome or not ?

In [ ]:
myStr = "Madam"

#convert entire string to either lower or upper
myStr = myStr.lower()

#reverse string
revStr = reversed(myStr)


#check if the string is equal to its reverse
if list(myStr) == list(revStr):
    print("Given String is palindrome")
else:
    print("Given String is not palindrome")

# Python Program to Sort Words in Alphabetic Order?

In [ ]:
myStr = "python Program to Sort words in Alphabetic Order"

#breakdown the string into list of words
words = myStr.split()

#sort the list
words.sort()

#print Sorted words are
for word in words:
    print(word)